body{
    justify-content: center;
    align-items: baseline;
    text-align: center;
}

.app-coder {
    margin: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap: 90px; 
}